/* common */

:root {
  --box-shadow: 2px 2px 4px #555;
}

body {
  margin: 0;
  font-family: "Bodoni 72", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-size: 10px;
}

h1,
h2,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

.container {
  /* border: 1px solid red; */
  width: calc(100% - 120px);
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.patitionImg {
  width: 100%;
}

.topRogoPC {
  display: none;
}

.topRogoSP {
  width: 300px;
}

/* header */

header {
  height: 800px;
  background-image: url(../img/beach1_HERO.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center top;
}

header h1 {
  padding-top: 248px;
}

header .menu-btn {
  position: fixed;
  border-width: 0;
  cursor: pointer;
  top: 36px;
  right: 36px;
  width: 56px;
  height: 52px;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, .5);
  z-index: 100;
}

header .menu-btn.is-active {
  display: none;
}

header .menu-btn .h-line div {
  position: absolute;
  left: 10px;
  height: 3px;
  width: 36px;
  border-radius: 1px;
  background-color: #fff;
}

header .menu-btn .h-line div:nth-of-type(1) {
  bottom: 34px;
}
header .menu-btn .h-line div:nth-of-type(2) {
  bottom: 24px;
}
header .menu-btn .h-line div:nth-of-type(3) {
  bottom: 14px;
}

header .menu {
  position: fixed;
  top: 40px;
  right: -200px;
  width: 200px;
  height: 300px;
  background-color: rgba(51, 51, 51, .6);
  z-index: 90;
  transform: translateX(240);
  transition: all 200ms ease;
}

header .menu.is-active {
  transform: translateX(-240px);
  transition: all 200ms ease;
}

header .menu .close-btn {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border-width: 0;
  padding: 8px 8px 0 0;
}

header .menu ul {
  color: #fff;
  width: 160px;
  margin: 0 auto;
}

header .menu li {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  height: 56px;
  justify-content: center;
}

header .menu li+li {
  border-top: 3px solid #fff;
}

/* main features */

#main .container {
  position: relative;
}

#main h2 {
  padding: 76px 0 50px;
}

#main .diamondImage {
  position: absolute;
  left: calc(50% - 24px);
  top: 76px;
  z-index: -10;
}

#main #features .seaWaterPC,
#main #features .sunset1PC {
  display: none;
}

#main #features p {
  text-align: left;
  font-size: 1.1rem;
  line-height: 30px;
  padding: 24px 0 60px;
}

#main #features h3 {
  position: relative;
  font-size: 1.6rem;
  line-height: 32px;
}

#main #features h3::after {
  position: absolute;
  content: "";
  height: 8px;
  width: 80px;
  background: #00D0D0;
  left: 0;
  bottom: -24px;
}

#main #features .sunset h3::after {
  background: #E3A700;
}

/* main events */

#main .container {
  padding-bottom: 40px;
}

#main #events ul {
  display: flex;
  justify-content:left;
  flex-wrap: wrap;
}

#main #events li {
  width: calc(50% - 16px);
  box-shadow: var(--box-shadow);
  margin-bottom: 40px;
}

#main #events li:nth-of-type(even) {
  margin-left: 32px;
}

#main #events li img {
  width: 100%;
}

#main #events .eventTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 48px;
  line-height: 13px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 0.8rem;
}

#main #events .eventDate {
  padding-bottom: 4px;
}

/* main access */

#main #access h2 {
  padding-bottom: 32px;
}

#main #access .container {
  position: relative;
}

#main #access .adressBG {
  height: 260px;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  opacity: .2;
  position: absolute;
  top: 152px;
  z-index: -10;
}

#main #access .adressSide {
  display: none;
}

#main #access h3 {
  font-size: 1.5rem;
  position: relative;
}

#main #access h3::after {
  content: "";
  position: absolute;
  height: 6px;
  width: 80px;
  background: #00D0D0;
  left: calc(50% - 40px);
  bottom: -15px;
}

#main #access .adress {
  width: 288px;
  height: 240px;
  margin: 0 auto;
  padding-top: 12px;
  font-size: 0.9rem;
  line-height: 28px;
}

#main #access .adress p {
  text-align: left;
}

#main #access .sns-links {
  margin-top: 4px;
  font-size: 1.4rem;
}

#main #access .sns-links a+a {
  margin-left: 8px;
}

#main #access iframe {
  padding-top: 52px;
}

/* footer */

#footer {
  height: 260px;
  background-image: url(../img/beach1ForFooter.jpg);
  background-size: cover;
}

#footer .container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: space-between;
  padding-top: 72px;
}

#footer img {
  width: 200px; 
  margin: 0 auto;
}

#footer small {
  font-size: 0.7rem;
}

@media (min-width: 1024px) {

  /* common */

  .topRogoSP {
    display: none;
  }

  .topRogoPC {
    display: block;

  }

  /* header */

  header {
    height: 800px;
    background-image: url(../img/beach1_HERO.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right top;
  }

  header h1 {
    padding-top: 292px;
  }

  header .topRogoPC {
    display: block;
    width: 700px;
    margin: 0 auto;
    padding-right: 100px;
  }
  

  header .menu-btn {
    display: none;
  }

  header .menu h1 {
    position: relative;
  }

  header .menu {
    position: absolute;
    top: 270px;
    right: 0px;
    width: 200px;
    height: 300px;
    background-color: transparent;
    z-index: 90;
  }

  header .menu .close-btn {
    display: none;
  }
  
  header .menu ul {
    color: #222;
    width: 160px;
    margin: 0 auto;
  }
  
  header .menu li {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    justify-content: right;
    background: linear-gradient(to right,transparent,white);
  }

  header .menu li::after {
    content: "";
    position: absolute;
    height: 26px;
    width: 4px;
    right: -16px;
    background: #222;
    opacity: 0;
  }

  header .menu li:hover {
    text-shadow: 0 0 8px #333;
    transition: all 500ms ease;
  }

  header .menu li:hover::after {
    opacity: 1;
    transform: translateX(-4px);
    transition: all 500ms ease;
  }
  
  header .menu li+li {
    border-top: inherit;
  }

  /* main */

  #main #features .seaWaterSP,
  #main #features .sunset1SP {
    display: none;
  }

  #main #features .water {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }

  #main #features .seaWaterPC {
    display: block;
    width: 60%;
    padding: 20px 0 0 72px;
  }

  #main #features .water .explain {
    width: 40%;
  }

  #main #features .water p {
    width: 45vw;
    margin: 0 calc(60% - 40.5vw);
    text-align: right;
    padding: 18px 0px 60px 12px;
  }

  #main #features .sunset {
    padding: 20px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #main #features .sunset1PC {
    display: block;
    width: 60%;
    padding: 20px 72px 0 0;
  }
  
  #main #features .sunset h3::after {
    left: inherit;
    right: 0;
    bottom: -24px;
  }

  #main #features .sunset .explain {
    width: 40%;
  }

  #main #features .sunset p {
    width: 45vw;
    padding: 22px 0 60px 100px;
    margin: 0 auto;
  }
  
  #main #features h3 {
    position: relative;
    font-size: 1.6rem;
    line-height: 32px;
  }

  /* main events */

  #main #events li {
    width: calc(25% - 24px);
    box-shadow: var(--box-shadow);
    margin-bottom: 40px;
  }
  
  #main #events li:nth-of-type(even) {
    margin-left: inherit;
  }

  #main #events li {
    margin-right: 32px;
  }

  #main #events li:nth-of-type(4n) {
    margin-right: 0;
  }

  #main #access .adressBG {
    display: none;
  }

  #main #access .accessBox {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 32px 0 0;
  }

  #main #access .adressSide {
    display:block;
    width: 60%;
    padding: 20px 0 0 72px;
  }

  #main #access .adress {
    width: 40%;
    height: 380px;
  }
  
  #main #access h3 {
    font-size: 2.2rem;
    padding-right: 52px;
  }

  #main #access h3::after {
    left: 0;
    bottom: -44px;
  }

  #main #access .adress p {
    position: relative;
    width: 45vw;
    margin: 0 calc(60% - 40vw);
    text-align: right;
    font-size: 1.3rem;
    line-height: 42px;
    padding: 54px 0 0 0;
  }

  #main #access .sns-links {
    position: absolute;
    margin-top: 0;
    font-size: 2em;
    right: 387px;
    top: 483px;
  }

  #main #access .sns-links a+a {
    margin-left: 4px;
  }

  /* footer */

  #footer img {
    width: 480px;
  }

}